sudo: required

services:
  - docker

before_install:
  - mvn clean package
  - docker build -t pedroluiznogueira/java-docker-ci:"$VERSION" -f Dockerfile .

script:
  - docker run -e CI=true pedroluiznogueira/java-docker-ci

after_success:
  - docker build -t pedroluiznogueira/java-docker-ci:"$VERSION" .
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push pedroluiznogueira/java-docker-ci:"$VERSION"